PORT=8085
LOG_LEVEL=info
POSTGRES_USER=menu_user
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=menu_db
DATABASE_URL=postgres://menu_user:YOUR_PASSWORD@localhost:5435/menu_db?sslmode=disable
JWT_SECRET=YOUR_SECRET_KEY_HERE
FRANCHISE_SERVICE_URL=http://localhost:8081
